name: test

on:
  pull_request:
    branches: [main]

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: get pr
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
